*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    scroll-behavior: smooth;

}

.chef{
    position: absolute;
    height: 220px;
    margin-left: 70px;
    margin-top: 50px;
}

body{
    font-family: 'Open Sans', sans-serif;
}

.contenedor{
    width: 700px;
    max-width: 1200px;
    overflow: hidden;
    margin: auto;
}

.pipe{
    width: 10px;
}

.miguel{
    width: 20px;
}

header{
    height: 100vh;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.0) 0%, rgba(0, 0, 0, 0.0) ), url(../img/pexels-aleksandar-pasaric-325185.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.head{
    text-align: center;
    padding: 0;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fff;
}

.hamburguer{
    position: fixed;
    top: 30px;
    right: 30px;
    background: white;
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 6px rgba(0, 0, 0. .5);
}

.menu-navegacion{
    position: fixed;
    top: 0;
    right: 0;
    width: 30vw;
    height: 100%;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: transform .3s ease-in-out; 
    transform: translate(100%);
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
}

.spread{
    transform: translate(0);
}

.menu-navegacion a{
    color: #fff;
    text-decoration: none;
}

.titulo{
    font-size: 61px;
    margin-bottom: 20px;
    margin-top: 50px;
    transition: all 500ms ease-in-out;
    -webkit-text-stroke: 1.5px ;
    text-shadow: 5px 5px 10px  #667eea;
    
}
.titulo:hover{
    transform: scale(1.3);
}

.copy{
    font-weight: 300;
    font-size: 40px;
    text-shadow: 5px 5px 10px  black;
    margin-top: 50px;
    
}

.button {
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    color: black;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin-left: 45%;
    margin-right: 45%;
    margin-top: 10%;
    border: 2px solid grey;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .button:hover span {
    padding-right: 25px;
  }
  
  .button:hover span:after {
    opacity: 1;
    right: 0;
  }



.subtitulo{
    text-align: center;
    font-weight: 300;
    color: rgb(65, 65, 170);
    margin-bottom: 40px;
    font-size: 40px;
    transition: all 300ms;  
    text-shadow: 5px 5px 5px rgb(65, 65, 170); 
}

.subtitulo:hover{
    transform: scale(1.3);
}

.contenedor-servicio{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
} 

.contenedor-servicio img{
    width: 800%;
}

.pipe-servicio{
    width: 45%;
}

.service{
    margin-bottom: 20px;
    text-align: left;
}



.n-service{
    margin-bottom: 7px;
    color: #9f8ad0;

}
.nn-service{
    margin-bottom: 7px;
    color: #9f8ad0;
    margin-right: 560px;
}

.number{
    display: inline-block;
    background-image: linear-gradient(to top, #37353d 0%, #3f343b 100%);
    width: 30px;
    height: 30px;
    color: #fff;
    text-align: center;
    border-radius: 50%;
    font-weight: 700;
    line-height: 30px;
    margin-right: 5px;
    transition: all 300ms;
}

.number:hover{
    transform: scale(1.3);
}

.gallery{
    background: #f2f2f2;
}

.contenedor-galeria{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.img-galeria{
    object-fit: cover;
    width: 200px;
    display: block;
    margin-bottom: 80px;
    box-shadow: 0px 10px 20px rgb(88, 53, 175);
    cursor: pointer;
}

.imagen-light{
    position: fixed;
    background: rgba(134, 22, 148, 0.5);
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(100%);
    transition: transform .2s ease-in-out;
}

.show{
    transform: translate(0);
}

/* efecto hover a las imagenes*/

.contenedor-galeria img{
    transition: all 300ms;
}

.contenedor-galeria img:hover{
    transform: scale(1.3);   
}
/* efecto hover de las imagenes anteriores */

.agregar-imagen{
    object-fit: cover;
    width: 75%;
    border-radius: 10px;
    transform: scale(0);
    transition: transform .3s .2s;
}

.showImage{
    transform: scale(1);
}

.close{
    position: absolute;
    top: 15px;
    right: 15px;
    width: 40px;
    cursor: pointer;
}

.experts{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.cont-experts{
     width: 30%;
     text-align: center;
     margin-bottom: 20px
}
.cont-experts img{
    width: 80%;
    display: block;
    margin: auto;
}

.n-expert{
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    font-weight: 400;
}

footer{
    background: #9f8ad0;
    padding-bottom: 0.1px;
}

.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-bottom: 40px;
}

.contact-us{
    width: px;
    color: #fff;
}

.brand{
    font-weight: 500; 
    font-size: 40px;
}

.brand+p{
    font-weight: 500;
}

.social-media{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}


.social-media-icon{
    display: inline-block;
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}

.social-media-icon:hover{
     background: #fff;
     color: #764ba2;
}

.social-media-icon i{
    font-size: 30px;
    line-height: 60px;   
}

.face{
    list-style-type: none;
}
.twitter{
    list-style-type: none;
}
.insta{
    list-style-type: none;
}

.line{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    height: 50px;
    background: #fff;
    margin: bottom 60px;
}

@media screen and (max-width:800px){
    .menu-navegacion{
        width: 50vw;
    }

    .titulo{
        font-size: 40px;
    }

    .contenedor-servicio img{
        width: 80%;
        margin-bottom: 40px;
    }

    .pipe-servicio{
       width: 80%;
    }

    .service{
        margin-bottom: 30px;
    }

    .agregar-imagen{
        width: 80%;
    }

    .img-galeria{
        width: 45%;
    }

    .cont-experts{
        width: 80%;
    }

    .footer-content{
        justify-content: center;
    }

    .social-media{
        width: 80%;
        justify-content: space-evenly;
    }

    .social-media i{
        margin-left: 0;
    }

    .social-media-icon{
        margin-left: 0;
    }

    .contact-us{
        text-align: center;
        width: 80%;
        margin-bottom: 40px;
    }

    @media screen and (max-width:500px) {
        .menu-navegacion{
            width: 65vw;
        }

        .hamburguer{
            top: 20px;
            right: 20px;
        }

        .titulo{
            font-size: 30px;
        }

        .subtitulo{
            font-size: 30px;
        }
        
        .img-galeria{
            width: 95%;
        }

        .agregar-imagen{
            width: 95%;
        }

        .social-media{
            width: 100%;
        }

        .contact-us{
            width: 90%;
        }
        
    }
    
}

/* arte */
